-----BEGIN CERTIFICATE-----
MIIDljCCAn4CCQC+6zJXVbV14zANBgkqhkiG9w0BAQUFADCBjDELMAkGA1UEBhMC
SlAxDjAMBgNVBAgMBVRva3lvMQ4wDAYDVQQHDAVUb2t5bzERMA8GA1UECgwITmV3
c1RlY2gxDTALBgNVBAsMBFRlY2gxFjAUBgNVBAMMDXd3dy5zcnYud29ybGQxIzAh
BgkqhkiG9w0BCQEWFHJhaGFydTA0MjVAZ21haWwuY29tMB4XDTE2MDkxNDA3MTg1
NloXDTI2MDkxMjA3MTg1NlowgYwxCzAJBgNVBAYTAkpQMQ4wDAYDVQQIDAVUb2t5
bzEOMAwGA1UEBwwFVG9reW8xETAPBgNVBAoMCE5ld3NUZWNoMQ0wCwYDVQQLDARU
ZWNoMRYwFAYDVQQDDA13d3cuc3J2LndvcmxkMSMwIQYJKoZIhvcNAQkBFhRyYWhh
cnUwNDI1QGdtYWlsLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEB
AKV+oKi1wUM7EVe23yAGwzuGfLQ8p9Xl80NQxzWE13evEQRFiApN2Ohk7Q458TmX
fFsnenbE9FBAHI1bHWXvdBAZD+eO7Q+1XU0pksSajZuEtBzKdc9hhtkk4DsKVWBk
WQTrvfE6I7mquaw3JNI2tAHDcPsuYzp6Sq5fh6ibyQCN3VQXDWAYkEgqkeQpj1wn
5kVO+ii+MLm+OEdFGaNcrtqZnQU1ABpZyr4rdYpWncU9RPEuNxWr29qhYmyUUgtD
Y3DNf243vhvThZoAfPi7sUINyk5UU4TCcvFSVz7V/8I0vHfLxGWz04F0glu4QsOH
NcH9m9o2nUakBWbp5wcuWtECAwEAATANBgkqhkiG9w0BAQUFAAOCAQEAZd/KzmxW
sUkThlKs23CFBxyJK4vu6WXbHPeXL+Ni7LlOxzXuSA+dyBPYJaLlJMcKT5xGEnyP
T8GWjdbCBwdrhpkI8WCWLDYJ73ywoIFHJMoBe12DTIWBGpUH81UAYdrVQMbrjIG+
z11TPUuHc71rtpmWWqEsZorxkegDYa2to1XXCkp2ZyU+ptqqBvH7hiqd6c1oPUki
Ttwe2nqSm6NMXgF21Wo65EnHowTP513W20F04PB7xb/vjQ//kJorjo8sNcean+9k
I+sg3Eaicj4v39VEk/3NPDAXswQKyMze2znJqaRhFvaVb1UI/7zSKSLcsObcczp+
af0vuQXfkVsKQg==
-----END CERTIFICATE-----
