server {
    listen       80;
    server_name  dbapi.dev;
    root         /var/www/dbapi/public;
    index        index.php index.html index.htm;
    charset      utf-8;

    #アクセスログ設定
    #access_log  /var/log/nginx/log/host.access.log  main;

    # Load configuration files for the default server block.
    include /etc/nginx/default.d/*.conf;

    location / {
        try_files $uri $uri/ /index.php?_url=$uri&$args;
    }

    # pass the PHP scripts to FastCGI server listening on unix:/var/run/php-fpm/php-fpm.sock
    #
    location ~ \.php$ {
        fastcgi_pass   unix:/var/run/php-fpm/php-fpm.sock;
        fastcgi_index  /index.php;

        include        fastcgi_params;
        fastcgi_param PATH_INFO       $fastcgi_path_info;
        fastcgi_param PATH_TRANSLATED $document_root$fastcgi_path_info;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
    }

    location ~ /\.ht {
        deny all;
    }

    error_page 404 /404.html;
        location = /40x.html {
    }

    error_page 500 502 503 504 /50x.html;
        location = /50x.html {
    }

}

